
.accordion-container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  .accordion-item {
    width: 100%;
    border-top: 1px solid #ddd;
  }
  
 
  .accordion-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f5f5;
    cursor: pointer;
    text-align: left;
  }
  .info{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    margin: auto 0;
    @media (max-width: 768px){
        width: 100%;
        display: flex;
        flex-direction: row;
    }
  }
  
  .accordion-button:hover {
    background-color: #e0e0e0;
  }
  

  .accordion-icon {
    font-size: 24px;
    transition: transform 0.2s;
  }
 
  
  .accordion-item.active .accordion-content {
    display: block;
  }
  

  .accordion-content {
    display: flex;
    padding: 20px;
    background-color: #fff;
    flex-direction: row;
  }
  
  .accordion-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
  }
  
  .accordion-text {
    flex: 1;
  }
  .accordion-time{
    width: 90px;
  }
  .topic {
    margin: auto;
    margin-bottom: 15px;
    font-weight: 700;
    border-bottom: 3px solid;
    border-color: #0f3879;
    width: fit-content;
    text-align: center;
  }
  .summit-theme{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .theme{
    width: 80%;
    color: #fff;
    display: grid;
    place-content: center;
    background-color: #0f3879;
    padding: 15px 0;
  }
  .theme h4{
    font: 600;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 1;
  }
  .theme p{
    text-align: center;
    font-size: 1.2rem;
  }