.screen-two-container{
    width: 90%;
    margin: auto;
    /* background-color: beige; */
    height: 100%;
    display: flex;
    @media (max-width: 768px){
        flex-direction: column;
    }
}
.text-section{
    width: 55%;
 display: flex;
 flex-direction: column;
justify-items: center;
margin: auto 0;
gap: 24px;
@media (max-width: 768px){
    flex-direction: column;
}
}
.image-section{
    display: flex;
 width: 45%;
 justify-content: center;
 align-items: center;
 margin: auto;
 @media (max-width: 768px){
    display: none;
}
}
.img-container{
    width: 70%;
    height: 70%;
}
.imagee{
    width: 100%;
    height: 100%;
}

button{
    width: fit-content;
    padding: 10px 14px;
    color: #fff;
    background: #0F3879;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    text-transform: uppercase;
}
button:hover{
  background-color: #3f6094;;
}