.backgroundImage {
  background-image: url("../Assets/mainImg.png");
  background-position: 100%;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 0%;
  border: 2px solid #1f88b2;
  /* height: 100vh; */
}
.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  /* padding-top: 20px; */
  padding: 20px 30px;
  /* border: 2px solid #1ae56e */
}

.profileHeader {
  background-color: #3e5f93;
  border: 2px;
  padding: 10px;
  width: 100%;
  color: #fff;
  display: flex;
  font-size: 24px;
  justify-content: center;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;

  align-items: center;
}
.detailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.priceText {
  margin-top: 20px;
  font-size: 48px;
  color: #4e4e4e;
  font-weight: 500;
}
.vat {
  padding-top: 1px;
  padding-bottom: 10px;
  margin-top: 5px;
  font-size: 22px;
  letter-spacing: 50%;
  color: #4e4e4e;
  font-weight: 500;
}

.buttonContainer {
  margin-top: 20px;
}

.nav-btn button {
  width: 50%;
  background-color: #0f3879;
  padding: 10px 0;
  color: white;
  border: 1px solid #0f3879;
  margin-top: 20px;
}
.bookButton {
  border: 1px solid #0f3879;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 20px;
  color: #0f3879;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.bookButton:hover {
  background-color: #1448a0;
}

.buttonContainer {
  margin-bottom: 25px;
}

.midContainer {
  max-width: 1280px;
  width: 100%;
  padding: 20px;
}

.delegate {
  color: #1f88b2;
}

.helpContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
