/* *, *::before, *::after {
  box-sizing: border-box;    
} */

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
}

img {
  width: 150px;
}

.navbar-pages {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
  color: black;
}

a:hover {
  color: red;
}

.navbar-svg {
  display: flex;
  align-items: center;
  gap: 5px;
}

.book-now {
  display: flex;
  align-items: center;
}

.book-now button {
  border: none;
  border-radius: 5px;
  background-color: #0f3879;
  padding: 10px 20px;
  color: white;
}

.book-now button:hover {
  background-color: #154796;
  color: #0f3879;
  border: 1px solid #0f3879;
}

.nav-btn button {
  width: 50%;
  background-color: #0f3879;
  padding: 10px 0;
  color: white;
  border: 1px solid #0f3879;
  margin-top: 20px;
}

.nav-btn button:nth-child(2) {
  background-color: white;
  color: #0f3879;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .navbar-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
