.footer-container{
   width: 100%;
    background-color: #ECFBFD;
}
.footer{
    padding: 40px 0 10px 0;
    gap: 30px;
    width: 92%;
    margin: auto;
}

.iconlink{
    color: rgb(167, 162, 162);
}
.detail{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 30px;
}

    @media (max-width: 768px) {
        .detail {
            flex-direction: column-reverse;
            gap: 35px;
            padding-right: 50px;

        }
}
.info{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-items: flex-start;
   
    margin-top: 40px;
}
    @media (max-width: 768px) {
        .info {
            flex-direction: column-reverse;
            gap: 15px;
        }
    
}

.deets{
    display: flex;
    flex-direction: column;
    
}
.p-mid{
    margin: 8px 0;
}

.foot{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: rgb(167, 162, 162);
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}
    @media (max-width: 768px) {
        .foot{
            flex-direction: column;
            text-align: center;
        }
        .info {
            flex-direction: column-reverse;
            gap: 15px;
        }
}

.foot-icon{
    display: flex;
    gap: 12px;
    margin-top: 8px;
}
.iconlink:hover{
    color: #154796;
}

.info-tel, .info-img{
    margin-top: 35px
}

@media (max-width: 768px){
    .info-tel, .info-img{
        margin-top: 25px
    }
}

