.footer{
    background-color: #ECFBFD;
    padding: 40px 0 10px 0;
    gap: 30px;
}
.detail{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}
    @media (max-width: 768px) {
        .detail {
            flex-direction: column;
            gap: 15px;
        }
}
.info{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    margin-top: 40px;
}
    @media (max-width: 768px) {
        .info {
            flex-direction: column-reverse;
            gap: 15px;
        }
    
}

.deets{
    display: flex;
    flex-direction: column;
    
}
.p-mid{
    margin: 8px 0;
}

.foot{
    width: 90%;
    display: flex;
    flex-grow: 1;
    /* flex-direction: row; */
    margin: auto;
    /* align-items: center; */
    /* text-align: left; */
    color: rgb(167, 162, 162);
    align-items: center;
}
    @media (max-width: 768px) {
        .foot{
            flex-direction: column;
            text-align: center;
        }
        .info {
            flex-direction: column-reverse;
            gap: 15px;
        }
}

.foot-note{
    width: 50%;
}
.foot-icon{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    width: 50%;
}
/* .info, .info-tel{
    width: 50%;
} */
    /* @media (min-width: 768px){
        .info, .info-tel{
        width: 100%;
    }
    }
         */
