
.image-container {
    position: relative;
    display: inline-block;
    margin: 5px;
    gap: 10px;
} 

  
  .image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s;
    border-radius: 50%;
  }
  
  .caption {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  
  .hovered .caption.overlay-visible {
    opacity: 1;
  }
  