
.image-container {
    position: relative;
    display: inline-block;
    margin: 5px;
    gap: 10px;
} 

  
  .image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s;
    border-radius: 50%;
  }
  

/* ... Previous styles ... */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(358.22deg, rgba(15, 56, 121, 0.85) 30.87%, rgba(0, 0, 0, 0) 105.94%),
              linear-gradient(0deg, rgba(19, 168, 190, 0.13), rgba(19, 168, 190, 0.13));
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 50%;
}

.hovered .overlay.overlay-visible {
  opacity: 1;
}

/* ... Remaining styles ... */





  .caption {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* background-color: rgba(0, 0, 0, 0.51); */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
  }
  
  
  .hovered .caption.overlay-visible {
    opacity: 1;
  }

  .secCaption {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.3s;
    text-align: center;
  }
  
  
  .hovered .secCaption.overlay-visible {
    opacity: 1;
  }
  .image-container{
    width: 16%;
    height: 30%;
    object-fit: cover;
      display: flex;
       justify-content: center
  }

  
  .image-container img{
    width: 100%;
    height: 100%;
  }

  @media  (max-width: 768px){
    .image-container{
      width: 45%;
      height: 40%;
    }
  }

  @media  (max-width: 475px){
    .image-container{
      width: 70%;
      height: 35%;
    }
  }
  .caption{
    text-align: center;
  }

  


  