.speaker-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    gap: 12px;
}
@media (max-width: 768px){
    .speaker-container{
        justify-content: center;
        align-items: center;
    }
}
.topic {
    margin: auto;
    font-weight: 700;
   font-size: 3.125rem;
    color: #0f3879;
    /* border-bottom: 3px solid;
    border-color: #0f3879; */
    width: fit-content;
    text-align: center;
  }
 