.summit-number{
    background-color: #ECFBFD;
    padding: 30px 0;
    margin: auto;
}
.box{
    width: 60%;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
@media (max-width: 768px){
    .box{
        width: 100%;
        margin: auto;
    }
}
@media (max-width: 475px){
    .box{
        flex-direction: column;
    }
}



.new-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    padding: 0 8px;
}
.new-card img{
    height: 50px;
    width: 50px;
}
.new-card span{
    color: #0F3879;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 3px;
}
.new-card p{
    text-align: center;
}
/* .new-card h5{
    color: ;
    font-size: ;
    font-weight: ;
} */
.eko {
  margin: auto;
  margin-bottom: 15px;
  font-weight: 700;
  /* border-bottom: 3px solid;
  border-color: #0f3879; */
  width: fit-content;
  text-align: center;
}
/* .summit-number h4{
    font-size: 3.125px;
} */